#wrapper {
    width:1200px;
    margin: 50px 50px;
    padding: 10px;
    background-color: antiquewhite;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }