<!DOCTYPE html>
<html ng-app="list">
<head>
    <title>Lab 4</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="Scripts/lab4.js"></script>
    <link rel="stylesheet" type="text/css" href="Styles/lab4.css">
	<meta charset="utf-8" />
</head>
<body>
<div id="wrapper"  ng-controller="mainList">
<form ng-submit="addItem()">
    <input type="text" ng-focus="clearInput()" ng-blur="resetInput()" ng-model="listItem.name"/>
</form>
<ul ng-repeat="item in list">
    <li><input type="checkbox" ng-model="item.checked" />{{item.name}}<button ng-click="deleteItem(item)">x</button></li>
</ul>
<p>Count: {{count}}</p><a class="activeTab" href="#">All</a><a class="inactiveTab" href="#">Completed</a><a class="inactiveTab" href="#">Active</a>
</div>
</body>
</html>