<!DOCTYPE html>
<html ng-app="movies">
<head>
    <title>Lab 5</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="Scripts/lab5.js"></script>
    <link rel="stylesheet" type="text/css" href="Styles/lab5.css">
    <meta charset="utf-8" />
</head>
<body>
    <div id="wrapper" ng-controller="mainMov">
        <form ng-submit="addItem()">
            <p><label>Title:</label><input type="text" ng-model="listItem.title" /><br /></p>
            <p><label>Description:</label><input type="text" ng-model="listItem.desc" /><br /></p>
            <input type="submit" id="submit" value="Submit" />
        </form>
        <ul ng-repeat="item in list">
            <li><div ng-hide="editorEnabled(item)">Title: {{item.Title}}<br /> Description: {{item.Description}}<br />
                    <button ng-click="deleteItem(item)">Delete</button>
                    <button ng-click="editItem(item)">Edit</button>
                </div>
                <div ng-show="editorEnabled(item)">
                    Title: <input type="text" ng-model="item.Title" /><br />
                    Description: <input type="text" ng-model="item.Description" /><br />
                    <button ng-click="saveItem(item)">Save</button>
                </div>
            </li>
        </ul>
</body>
</html>
